name: Run CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Check CMake formatting
        run: |
          pip install cmake-format==0.6.13
          git ls-files -- \*.cmake \*CMakeLists.txt | xargs cmake-format --check
      - name: Check clang formatting
        run: |
          if [ -n "${{github.event.pull_request.base.sha}}" ]
          then
            if ! git clang-format-18 --quiet --diff "${{github.event.pull_request.base.sha}}" HEAD
            then
              echo incorrect formatting
              exit 1
            fi
          fi
      - name: CMake configure
        run: cmake -DCMAKE_C_COMPILER:FILEPATH=/usr/bin/clang -DCMAKE_CXX_COMPILER:FILEPATH=/usr/bin/clang++ --preset=Debug
      - name: Build
        run: cmake --build build_debug
      - name: Test
        working-directory: build_debug/output
        run: ./rpc_test
      - name: CMake configure
        run: cmake -DCMAKE_C_COMPILER:FILEPATH=/usr/bin/clang -DCMAKE_CXX_COMPILER:FILEPATH=/usr/bin/clang++ --preset=Release
      - name: Build
        run: cmake --build build_release
      - name: Test
        working-directory: build_release/output
        run: ./rpc_test
